<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Set the encoding of the style sheet to Specifies the character encoding for the HTML document -->
    <meta charset="UTF-8">

    <!-- Setting the viewport to make your website look good on all devices -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Setting the viewport to make your website look good on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Setting a suggest color that browsers should display of the page or of the surrounding user interface. -->
    <meta name="theme-color" content="#0094da">

    <!-- ### start ####################  Set the document's Info #################################### -->

    <!-- defines the document's title that is shown in a browser's title bar or a page's tab -->
    <title>Saudi Bell | Security measures and communication solutions company in Saudi Arabia</title>

    <!-- Short description of the document's subject (limit to 150 characters) -->
    <!-- This content *may* be used as a part of search engine results. -->
    <meta name="description"
        content="Saudi Bell is a long-established and trusted system integrator in Saudi Arabia, operating in the market since 1985, helping improve the infrastructure of the Kingdom and enhance its telecom sector.">

    <!-- Set keywords words relevant to the page's content be used as a part of search engine results -->
    <meta name="keywords"
        content="security, communication,data security,platform security,network security, managment , monitoring,  risk assessment, GRC, SAMA & ECC compliancess">

    <!-- Set the name of the document's author. -->
    <meta name="author" content="EraaSoft Group">

    <!-- Set  favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/png" href="../content/img/favicons/fav.ico">
    <!-- ### end ############################################################################## -->



    <!-- ### start ########################### CSS included libraries  ############################# -->
    <!-- Bootstrap:5 ltr cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Font Awesome icons-->
    <link rel="stylesheet" href="../content/css/vendor/font-styles/font_awesome_styles.css">


    <!-- owl-carousel2 plugins-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.theme.default.min.css">
    <!-- ### end ################################################################################ -->


    <!-- ### start ################## CSS page style  ########################################## -->
    <!-- <link rel="stylesheet" href="./content/css/main-ltr.css" > -->
    <link rel="stylesheet" href="../content/css/main-ltr.min.css">
    <!-- ### end ############################################################################### -->


</head>

<body dir="ltr">
    <!-- ### start ########################### header  ################################ -->
    <header class="header">
        <!-- ### start ########################### navbar  ######################## -->
        <nav class="navbar navbar-expand-lg main-nav">
            <div class="container-fluid">
                <div class="main-nav__container">
                    <a class="navbar-brand logo" href="../index.html">
                        <img src="../content/img/logo/LOGO.png" alt="saudi-bell-logo" class="logo__img" id="logo">
                    </a>

                    <button class="navbar-toggler main-nav__toggler" type="button">
                        <i class="fas fa-bars fa-2x"></i>
                    </button>

                    <div class="main-nav__content justify-content-end" id="md-nav">
                        <div class="main-nav__content-relative">
                            <div class="close-btn">
                                <i id="closeBtn" class="fas fa-times"></i>
                            </div>
                            <ul class="main-nav__btns">
                                <li>
                                    <a class="navbar-brand logo-md" href="../index.html">
                                        <img src="../content/img/logo/LOGO.png" alt="saudi-bell-logo" class="logo__img">
                                    </a>
                                </li>
                                <li>
                                    <a href="../content/files/en.pdf" target="_blank">download profile
                                    </a>
                                </li>
                                <li>
                                    <a href="./careers.html">careers</a>
                                </li>
                                <li>
                                    <a href="./contact-us.html">contact us</a>
                                </li>
                                <li class="lang-li">
                                    <a href="./it-service-ar.html" class="active">ar</a>
                                </li>
                            </ul>

                            <ul class="main-nav__list navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="side-line nav-link" href="./about.html" id="aboutNavbarDropdown"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        about us
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="aboutNavbarDropdown">
                                        <li>
                                            <a class="dropdown-item" href="./about.html#who-we">
                                                who we are?
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="./about.html#why-we">
                                                why saudi bell?
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="./about.html#founders">
                                                founders' message?
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="./about.html#stories">
                                                success stories
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="side-line nav-link" href="./it-service.html" id="serviceNavbarDropdown"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        services & solutions
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="serviceNavbarDropdown">
                                        <li>
                                            <a class="dropdown-item" href="./it-service.html">
                                                information technology
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="./communication-service.html">
                                                telecommunication
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="./security-service.html">
                                                physical security
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="side-line nav-link" href="./clients.html" id="clientsNavbarDropdown"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        markets & clients
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="clientsNavbarDropdown">
                                        <li>
                                            <a class="dropdown-item" href="./clients.html#military">
                                                military & defense
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="./clients.html#government">
                                                government
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="./clients.html#utilities">
                                                utilities
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="./clients.html#telecommunication">
                                                telecommunication
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="./clients.html#banking">
                                                banking
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="./clients.html#healthcare">
                                                healthcare
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="side-line nav-link" href="./partners.html">
                                        our partners
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./media-center.html">
                                        media center
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- ### end ############################################################### -->



        <!-- ### start ########################### main section  ################################ -->
        <section class="main-section">
            <div class="owl-carousel owl-theme" id="mainOwl">
                <div class="item">
                    <div class="main-section__item">
                        <img src="../content/img/backgrounds/services.jpg" class="main-section__img" alt="...">
                        <div class="main-section__content">
                            <div class="container">
                                <h3>INFORMATION TECHNOLOGY</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ### end ############################################################################## -->
    </header>
    <!-- ### end ############################################################################## -->




    <!-- ### start ###########  INFORMATION TECHNOLOGY section  ####################### -->
    <section class="section section--service">
        <div class="container-fluid m-0">

            <div class="section--service__header__info">
                <h5 class="section--service__header  c--light-3">
                    SECURED ACCESS TO DATA AND NETWORKS
                </h5>

                <p class="section-service__text">
                    Cyber security is vital for organizations to detect targeted network attacks and unauthorized
                    sensitive data access. We protect businesses and organizations against threats by implementing
                    state-of-the-art preventive security measures and frameworks, guaranteeing high quality and
                    consistent availability of information system security at all times.
                </p>
            </div>

            <div class="section--service__circle  bg--white">
                <h2 class="section--service__circle__header heading-primary c--dark-1">SOLUTIONS</h2>

                <div class="section--service__circle__container d-flex flex-wrap justify-content-center">
                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">Application Security</h3>
                        <p class="section--service__circle__item__text">
                            Ensure the security of applications through testing and adding features
                            that protect against threats and unauthorized access.
                        </p>
                    </div>

                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">Platform Security</h3>
                        <p class="section--service__circle__item__text">
                            Secure an entire computing platform’s hardware, software, network, storage and other
                            components by architecting an integrated security system using relevant tools and processes.
                        </p>
                    </div>

                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">Network Security</h3>
                        <p class="section--service__circle__item__text">
                            Protect the confidentiality and accessibility of an organization’s network and data by using
                            applicable software and hardware technologies.
                        </p>
                    </div>

                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">Data Security</h3>
                        <p class="section--service__circle__item__text">
                            Protect data across all platforms from unauthorized access and corruption through
                            encryption, hashing, and key management practices.
                        </p>
                    </div>

                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">Management <br> &amp; Monitoring</h3>
                        <p class="section--service__circle__item__text">
                            Proactively protect an IT system through ongoing observation to detect data breaches, cyber
                            threats, or other weaknesses.
                        </p>
                    </div>
                </div>
            </div>

            <div class="section--service__circle  bg--light-1">
                <h2 class="section--service__circle__header heading-primary c--dark-1">SERVICES</h2>

                <div class="section--service__circle__container d-flex flex-wrap justify-content-center">
                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">Source Code Review</h3>
                        <p class="section--service__circle__item__text">
                            Review an application’s source code to identify security-related weaknesses in an attempt to
                            help developers understand and address flaws.
                        </p>
                    </div>

                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">Risk Assessment</h3>
                        <p class="section--service__circle__item__text">
                            Prepare for potential risks and their adverse impacts by identifying them and prioritizing
                            the appropriate cybersecurity defensive measures.
                        </p>
                    </div>

                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">Security Awareness</h3>
                        <p class="section--service__circle__item__text">
                            Understand potential cybersecurity threats and adopt the right practices and measures to
                            prevent them and to protect data.
                        </p>
                    </div>

                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">SAMA <br> &amp; ECC Compliances</h3>
                        <p class="section--service__circle__item__text">
                            Ensure comprehensive payment compliances while following the best security practices for the
                            payment module as well as for the entire system and network.
                        </p>
                    </div>

                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">SOC Assessments</h3>
                        <p class="section--service__circle__item__text">
                            Improve an organization’s security posture through continuous monitoring in order to
                            prevent, detect, analyze and respond to cybersecurity incidents.
                        </p>
                    </div>

                    <div class="section--service__circle__item">
                        <h3 class="section--service__circle__item__header">Governance, risk management, <br> &amp;
                            compliance (GRC)</h3>
                        <p class="section--service__circle__item__text">
                            Develop a strategy to align IT with business objectives and manage the organization's
                            overall governance, enterprise risk and compliance requirements.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ### end ###################################################################### -->




    <!-- ### start ###########################  footer  ################################ -->
    <footer class="footer">
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-5 mb-lg-0">
                        <div class="main-footer__item main-footer__item--logos">
                            <a href="#" class="main-footer__logo-link">
                                <img class="main-footer__logo-link__img"
                                    src="../content/img/html_images/footer_logos/LOGO.png" alt="Logo image">
                            </a>

                            <div class="main-footer__contact__logos d-flex justify-content-between">
                                <img src="../content/img/html_images/footer_logos/trace.png" alt="Trace logo">
                                <img src="../content/img/html_images/footer_logos/45001.png" alt="Iso logo">
                                <img src="../content/img/html_images/footer_logos/iso-footer.png" alt="Iso logo">
                                <img src="../content/img/html_images/footer_logos/iso-footer-2.png" alt="Iso logo">
                                <img src="../content/img/html_images/footer_logos/27001.png" alt="Iso logo">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8 col-lg-4">
                        <div class="main-footer__item main-footer__item--certficate">
                            <div class="row">
                                <div class="col-6">
                                    <div class="main-footer__list">
                                        <h5 class="main-footer__list__heading">
                                            USEFUL LINKS
                                        </h5>
                                        <ul>
                                            <li class="main-footer__list__item">
                                                <a class="main-footer__list__link" href="../index.html">
                                                    HOME
                                                </a>
                                            </li>
                                            <li class="main-footer__list__item">
                                                <a class="main-footer__list__link" href="./about.html">
                                                    ABOUT US
                                                </a>
                                            </li>
                                            <li class="main-footer__list__item">
                                                <a class="main-footer__list__link" href="./partners.html">
                                                    OUR PARTNERS
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="main-footer__list">
                                        <h5 class="main-footer__list__heading">
                                            SERVICES &amp; SOLUTIONS
                                        </h5>
                                        <ul>
                                            <li class="main-footer__list__item">
                                                <a class="main-footer__list__link" href="./it-service.html">
                                                    INFORMATION TECHNOLOGY
                                                </a>
                                            </li>
                                            <li class="main-footer__list__item">
                                                <a class="main-footer__list__link" href="./communication-service.html">
                                                    TELECOMUNICATIONS
                                                </a>
                                            </li>
                                            <li class="main-footer__list__item">
                                                <a class="main-footer__list__link" href="./security-service.html">
                                                    PHYSICAL SECURITY
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-3 mt-3 mt-sm-0">
                        <a href="#" class="main-footer__partner-link">
                            <img class="main-footer__partner-img"
                                src="../content/img/html_images/footer_logos/royaa-3.png" alt="Mission image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sub-footer">
            <div class="container">
                <div class="d-flex flex-column flex-sm-row   justify-content-between align-items-center">
                    <ul class="d-flex sub-footer__social-list mb-2 mb-sm-0">
                        <li class="sub-footer__social-list__item">
                            <a class="sub-footer__social-list__link" href="#">
                                <i class="sub-footer__social-list__icon fab fa-twitter fa-w-16"></i>
                            </a>
                        </li>
                        <li class="sub-footer__social-list__item">
                            <a class="sub-footer__social-list__link" href="#">
                                <i class="sub-footer__social-list__icon fab fa-linkedin-in fa-w-16"></i>
                            </a>
                        </li>
                    </ul>

                    <div class="sub-footer__copyright">
                        <p class="sub-footer__copyright__sentences">
                            Powered By &nbsp;
                            <a class="sub-footer__copyright__link" href="#">8Ball Consulting Group</a>
                            &nbsp; &copy; 2021
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ### end ######################################################################## -->





    <!-- *** start ************************* Include JS Scripts ****************** -->
    <!-- Adding Jquery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

    <!-- Adding owl carousel Jquery plugin -->
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>

    <!-- Adding Jquery validation plugin -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>


    <!-- Adding bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <script src="../content/js/main.min.js"></script>
    <!-- *** end Scripts ********************************************************* -->

</body>

</html>