.section--service {
  padding: 4rem;
  @include rwd-df-down(md) {
    padding: 4rem 3rem;
  }
  @include rwd-df-down(sm) {
    padding: 4rem 2.5rem;
  }
  @include rwd-df-down(xs) {
    padding: 3rem 2rem;
  }
  @include rwd-only(xxs) {
    padding: 2rem 1.5rem;
  }

  background-color: $color-white;

  .section--service__header {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .section--service__text {
    color: $color-text;
    font-size: 1.7rem;
    font-weight: 100;
  }

  // ################################   //
  &__circle {
    &__header {
      text-align: $start;
      font-size: 3.2rem;
      padding: 2rem;
      font-weight: 600;
    }

    &__item {
      display: block;
      border-radius: 50%;
      text-align: center;

      color: $color-white;
      background-color: $color-primary-2;
      padding: 1.5rem;

      position: relative;
      overflow: hidden;
      cursor: pointer;

      width: 18vw;
      height: 18vw;
      margin: 0 5vw 4rem;

      @include rwd-df-down(md) {
        width: 28vw;
        height: 28vw;
        margin: 0 6vw 4rem;
      }

      @include rwd-df-down(sm) {
        width: 60vw;
        height: 60vw;
        margin: 0 0 5rem;
      }

      @include rwd-only(xxs) {
        width: 70vw;
        height: 70vw;
      }

      &__header {
        font-size: 1.9rem;
        font-weight: 700;
        margin: auto;

        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;

        transition: all 0.5s;
        transform: translate(-50%, -50%);

        font-size: 1.9rem;
        @include rwd-df-down(md) {
          font-size: 2.1rem;
        }
        @include rwd-df-down(sm) {
          font-size: 2.5rem;
        }
        @include rwd-df-down(xs) {
          font-size: 2rem;
        }
      }

      &__text {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 100%;
        padding: 1.5rem;
        transition: all 0.5s;
        transform: translateX(-50%);
        font-size: 1.3rem;
        line-height: 1.4;
        @include rwd-df-down(lg) {
          font-size: 1rem;
        }
        @include rwd-df-down(md) {
          font-size: 1.2rem;
        }
        @include rwd-df-down(sm) {
          font-size: 1.6rem;
        }
        @include rwd-df-down(xs) {
          font-size: 1.2rem;
        }
      }

      &:hover &__header {
        top: -100%;
      }

      &:hover &__text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }
  }
}

.section--service__circle--grey {
  background-color: $color-third-2;
}
