/*
**  define the style for the primary heading in the page  =>heading-primary{
*/

.heading-primary {
  font-size: 5vw;
  margin-bottom: 2.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.34;
  text-align: center;
  text-transform: uppercase;
  @include rwd-df-down(sm) {
    font-size: 3rem;
  }
  @include rwd-only(xxs) {
    font-size: 2.5rem;
  }
}

/*
**  define padding section in all screens
*/
.section {
  font-family: $main-font;
  padding: 6rem 0;
  @include rwd-df-down(lg) {
    padding: 5rem 0;
  }
  @include rwd-df-down(sm) {
    padding: 4rem 0;
  }
  @include rwd-only(xxs) {
    padding: 3.5rem 0;
  }
}

/*
**  define bg colors
*/
.bg--light-1 {
  background-color: $color-third-2;
}
.bg--light-2 {
  background-color: $color-third-4;
}
.bg--light-3 {
  background-color: $color-third-3;
}

.bg--dark-1 {
  background-color: $color-secondary-1;
}
.bg--dark-2 {
  background-color: $color-header;
}

.bg--white {
  background-color: $color-white;
}

/*
**  define text colors
*/
.c--light-1 {
  color: $color-text;
}
.c--light-2 {
  color: $color-primary-1;
}
.c--light-3 {
  color: $color-primary-1-o;
}

.c--dark-1 {
  color: $color-secondary-6;
}
.c--dark-2 {
  color: $color-header;
}

.c--white {
  color: $color-white;
}
