/*
**  Helvetica Neue Font =>   font-family: "Helvetica Neue" , sans-serif;
*/
@font-face {
font-family: 'Helvetica Neue';
     src: url('../fonts/Helvetica_Neue_font/HelveticaNeue.eot'); /* IE9 Compat Modes */
     src: url('../fonts/Helvetica_Neue_font/HelveticaNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Helvetica_Neue_font/HelveticaNeue.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Helvetica_Neue_font/HelveticaNeue.woff') format('woff'), /* Pretty Modern Browsers */
          url('../fonts/Helvetica_Neue_font/HelveticaNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('../fonts/Helvetica_Neue_font/HelveticaNeue.svg#svgFontName') format('svg'); /* Legacy iOS */
}


// @font-face {
//      font-family: "Helvetica Neue WGL";
//      font-family: 'Helvetica Neue';
//      src: url("//db.onlinewebfonts.com/t/9c0ed50d4b96ac9e5bd4a7dbfe363765.eot");
//      src: url("//db.onlinewebfonts.com/t/9c0ed50d4b96ac9e5bd4a7dbfe363765.eot?#iefix")
//          format("embedded-opentype"),
//           url("//db.onlinewebfonts.com/t/9c0ed50d4b96ac9e5bd4a7dbfe363765.woff2")
//          format("woff2"),
//           url("//db.onlinewebfonts.com/t/9c0ed50d4b96ac9e5bd4a7dbfe363765.woff")
//          format("woff"),
//           url("//db.onlinewebfonts.com/t/9c0ed50d4b96ac9e5bd4a7dbfe363765.ttf")
//          format("truetype"),
//           url("//db.onlinewebfonts.com/t/9c0ed50d4b96ac9e5bd4a7dbfe363765.svg#Helvetica Neue WGL")
//          format("svg");
//    }
   