/*
**  Font size variables 
*/
$default-font-size: 1.6rem ;



/*
**  Sections PaddingY  variables 
*/

$section-padding-vertically-lg: 3rem;
$section-padding-vertically-md: 2.5rem;
$section-padding-vertically-sm: 2rem;
$section-padding-vertically-xs: 4rem;


/*
** Colors variables 
*/
$color-header:          #191f39 ; 
$color-text:           #58595b ;
$color-slider-overlay : #00000052 ;

$color-third-1:#f5f8fa ;
$color-third-2:#ededed ;
$color-third-3:#dcdddf ;
$color-third-4:#e8ecf7 ;
$color-third-5: #808080;

$color-primary-1:  #00adef ;
$color-primary-1-o:#00adefbf ;
$color-primary-2:  #0094da ;
$color-primary-3:  #0d6efd ;
$color-primary-4:  #0a58ca ;
$color-primary-5:  #86b7fe ;



$color-secondary-1: #25408f ;
$color-secondary-2: #192e6a ;
$color-secondary-3 : #0a1531 ;
$color-secondary-4:  #09132c ;
$color-secondary-5: #212529 ;
$color-secondary-6: #191f39 ;
$color-secondary-7: #0d6efd40 ;

$color-white: #fff ;
$color-black: #000 ;